@import '@fontsource/fira-mono';

:root {

}

body {
	padding:0;
	margin:0;
	font-family: 'Fira Mono', monospace;
	box-sizing: border-box;
	min-height: 100vh;
	min-width: 100%;
}

h1 {
	font-size: 2rem;
	text-align: center;
}

h2 {
	font-size: 1rem;
}



input,
button {
	font-size: inherit;
	font-family: inherit;
}

button:focus:not(:focus-visible) {
	outline: none;
}
